body { color: gray;
    text-transform: uppercase;
        font-family: sans-serif;
        font-size: 0.7em;  
        margin: 0px;
        }

a { text-decoration: none; }

#header { width: 100%;
        height: 200px;
        text-align: center; 
        
}

#header-logo { width: 100px;
            height: auto; 
        display: block;
            margin-left: auto;
    margin-right: auto; }


#navbar { background-color: black; 
        width: 100%;
        height:20px; 
        padding: 3px;  }


header {
width:0%;
max-width:0px;
margin:auto;
}
 
#navpape{
background-color:black;
width:9%;
height:20px;
padding: 0.5px;
position: relative;
float: left;
}
 
#navpape ul {
list-style:none;
padding:0;
margin:0;
overflow:hidden;
}
 
#navpape > ul > li {
float:left;
}
 
#navpape ul li a {
text-decoration:none;
color:#fff;
display:block;
padding:4.7px 10px;
}
 
#navpape ul li a:hover {
background:#F58207;
transition-duration:0.4s;
}
 
#navpape > ul > li:hover div {
display:table;
}
 
/*Submenu*/
#navpape ul li div {
width:100px;
position: absolute;
left:0;
background:#ccc;
box-sizing:border-box;
display:none;
}
 
#navpape ul li div ul{
width:20%;
display:table-cell;
border-right:1px solid rgba(255,255,255,.5);
box-sizing:border-box;
}
 
#navpape ul li div ul:last-child {
border:none;
}
 
#navpape ul li div ul .titulo {
background:#000;
color:#fff;
}
 
#navpape ul li div ul .titulo a {
color:#fff;
padding:10px 20px;
}
 
#navpape ul li div ul .titulo a:hover {
background:none;
}
 
#navpape ul li div ul li a {
color:#000;
}
 
#navpape ul li div ul li a:hover {
color:#ccc;
}

.whitefont { color: white; }
.blackfont { color: black; }

nav { width: 100% ;
    height: 30px; 
    border-bottom: 1px solid black;
	position: absolute;
	top: 200px; }

ul {list-style-type: none; 
    width: 400px;
    margin-left: auto;
    margin-right: auto;}

li { width: 130px; 
    float: left ;}

.fixed {
    position: fixed;
    top: 0px;
    padding-top: 10px;
    height: 40px;
    z-index: 1; 
	background: #fff;}


.fixed2 {
    position: fixed;
    top: 42px;
	}






/* solicitudes */


#nro-solicitudes { background-color: red;
		width: 20px;	
		height: 20px;
		-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; 
float:left; 
margin-left: 26px;
margin-top: -2px;  }


#nro-solicitudes p { margin: 2px 6px; }
	


#content { font-size: 1.2em;

	height: auto;
    min-height: 300px;}

#container {
    margin: 0px;
    padding: 0px;
    width: 250px
    height: auto;
    overflow: hidden;  
}

.absolute-add { position: absolute; 
    
    }

#menu-lateral { 
background-color: #000; 
    top: 50;
	border : 1px solid gray ; 
	left: 0px;
	width: 170px;
	height: 300px; 
	float: left;
	 
	color: #fff; 
	margin-top: 5px;}

#menu-lateral a { color: #fff; }

#menu-lateral h3 { float: left;
		width: 60px;
		height: 30px; 
		margin: 10px; }








#img-logo , #img-flecha-derecha { float: right;
				margin: 5px;  }

#img-flecha-derecha { margin-top: 16px; }

#menu-lateral ul { margin-left: -15px;
		width: 200px;
		}

#menu-lateral ul li { float: left ;
			width: 240px; 
			height: 30px; }

#menu-lateral ul li a { float: left; }

.mensaje { 
	height: 100px;
	width: 70%;  
	background-color: #ccc; 
	float: left;
	margin: 20px 20px 20px 20px;
 }


.texto-mensaje { font-size: 0.95em ; 
		margin: 20px 20px 5px 20px;
		}

.conocer { 
	font-size: 0.7em; 
	border: 1px solid gray; 
	 width: 180px;
	height: 17px; 
	float: right; 
	background-color: #666;
	padding: 10px; 
	color: #fff;
	margin-top: 20px; 
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display:inline-block;
 
	}

.naranja { background: #666;}

.naranja:hover{ background: #D35400; }

.conocer a { color: #fff; 
	font-size:1.3em}

.conocer img {margin-left: 5px;
		margin: 10px;
		
		 }

.caja-flecha {background-color: #000;
		width: 38px;
		height: 38px;
		margin-top: -24px;
		margin-right: -11px;
		float:right;}




/* footer */


#footer { height: 130px;
	bottom: 0px; 
	position: fixed; 
	width:100%;
	background-color: #999; 
	z-index: 2;
	}

#footer img { float : right;
	margin: 10px; }

#caja-principal { 
    width:85%; 
    margin-left: 200px;
    margin-top: 30px;
    float:left; 
    height:auto;
    margin-bottom: 200px;}


/* Conociendo */

.caja-conociendo {  font-size: 0.7em; 
		
	 width: 800px;
	height: auto; 
	float: left; 
	background-color: #DCDCDC;
	color: #fff;
	margin-top: 50px; 
    
    text-transform: none; 
   
	}



#pie-caja {  font-size: 0.7em; 
	 width: 800px;
	height: 50px; 
	float: left; 
	background-color: #000 ;
	color: #fff;
	bottom: 0;
    pòsition:relative;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
    }
#pie-caja:hover {background: #8FBC8F ;}

.img-conociendo { 
                width: 100%;
    height: auto;
    }

.img-conociendo img { float:left;
    margin: 30px; 
    
}

.img-conociendo h2 { float:left; 
                width: 60%; 
        margin: 20px 0px 0px 20px; 
    
height; 30px; }

.p-container { font-size: 1.4em; 
                float: left; 
                    width: 470px;
            height: 100px;
                margin: 15px 25px 55px 25px;
     }

.long { width: 550px; }



#pie-caja h1 { text-align: center;
    margin-top:15px;
    color: #fff;
}

.caja-flecha2 {
		width: 34px;
		height: 25px;
		margin-top: -25px;
		margin-right: 5px;
		float:right;}

.caja-derecha-white {background-color: #000;
		width: 59px;
		height: 50px;
        padding: inherit;
		margin-top: -50px;
		margin-right: 743px;
		float:right;}
.caja-derecha-white:hoover { background: #FF0026;}

#img-ordenar { margin: 16px;}

#img-foto2 { float: left;}


#tip-paso { border: 1px dotted gray;
        text-transform:  none; 
        width: 220px;
        height: 150px;
        margin-top: 50px;
        float: left;
    padding: 10px; }

.img-foto { border-radius: 50px;
    }

/* perfil */

.caja-perfil {  font-size: 0.7em; 
		
	 width: 800px;
	height: auto; 
	float: left; 
	background-color: #666;
	color: #fff;
	margin-top: 50px; 
    
    text-transform: none; 
   
	}

.caja-perfil h1 { text-align: center; }

#logo { border: 1px dotted gray;
        text-transform:  none; 
        width: 220px;
        height: 150px;
        margin-top: 50px;
        float: left;
    padding: 10px; }

.logo-empresa img { 
                width: 220px;
        height: auto;
        margin-top: 55px;
    }




.boton{
            text-align:center;
            text-decoration: none;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      display:inline-block;
            color: #FFF;
            background: #7F8C8D;
            padding: 5px 5px;
            white-space: nowrap;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            margin: 10px 5px;
            -webkit-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.azul { background: #E67E22;}

.azul:hover{ background: #D35400; }

/* mensaje */


 .textbox
	  {
	
	  border: 1px solid #DBE1EB;
	  font-size: 18px;
	  font-family: Arial, Verdana;
	  padding-left: 7px;
	  padding-right: 7px;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  border-radius: 10px;
	  -moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
	  -o-border-radius: 10px;
	  background: #FFFFFF;
	  background: linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
	  color: #2E3133;
	  }
	   
	  .textbox:focus
	  {
	  color: #2E3133;
	  border-color: #FBFFAD;
	  }



      





