<!DOCTYPE html>
<html lang="en">



<head>
   <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
   
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>






    
     <title>Madeer onBase</title>
</head>
<body>
    
    
    <div id='navbar'>
    
        {% if current_user.is_authenticated() %}
        
        <a class='whitefont' href='logout' ></a>
        

<div id='navpape'>
<ul>

<li><a href="">Opciones</a>
 
<div>
 
<ul>

<li><a href="logout">Cerrar Sesion</a></li>
</ul>
</div>
 
</div>






      	
	</div>

        {% else %}
        <div id='iniciarsesion' >
        <a class='whitefont' href='login' >Iniciar Sesi&oacute;n</a>
        </div>
	
        
        
        {% endif %}
        
        
    
    </div>
    
    <div id='header'>

	
        
        <div id='header-logo'>
    
            <a href='/' ><img alt="logo-madeer" src="{{ url_for('static', filename='img/logo.png') }}" /></a>
    
        </div>
        
        
        <nav>
        
            <ul>
            
                <li><a class='blackfont' href='coleccion' >Coleccion</a></li>
                <li><a class='blackfont' href='directorio' >Directorio</a></li>
                <li><a class='blackfont' href='estadisticas' >Estadisticas</a></li>
                
            </ul>
        </nav>
        </div>
        
        
    
    <div id="content">
        
        
        
        {% if current_user.is_authenticated() %}
        
        
          <div id='menu-lateral' >
	<h3>Menu</h3><img id='img-flecha-derecha' src="{{ url_for('static', filename='img/flecha-menu-white180.png') }}" alt='esconder menu' /></a>
	
	<ul>
	   <li><a href='/invitar' >Invitar</a></li>
	   <li><a href='/solicitudes'>Solicitudes</a><div id='nro-solicitudes' > <p>{{ nro }}</p> </div></li>
	</ul>
  </div>
        
    
    
    {% endif %}
        
        <div id='caja-principal'>{% block content %}{% endblock %}</div>
    
    
    
    
    
    </div>
    
    

<div id='footer' >

	            <a href='/' ><img width='40px' alt="logo-madeer" src="{{ url_for('static', filename='img/logo.png') }}" /></a>
<ul>
    <li><a class='greyfont' href=''>about</a></li>
    <li><a class='whitefont' href='http://life.madeer.cl'>blog</a></li>
    <li><a class='greyfont' href=''>aviso legal</a></li>
    <li><a class='greyfont' href=''`>cómo postular</a></li>
    <li><a class='greyfont' href=''>asociados</a></li>
    <li><a class='whitefont' href='http://www.twitter.com/madeer_lab'>twitter</a></li>
    
    </ul>
    
    
    
</div>



<script>
   $(document).ready(function(){

       
       $('#menu-lateral').addClass('absolute-add');
	   
	   $(window).bind('scroll', function() {
	   var navHeight = $( window ).height() - 40;
			 if ($(window).scrollTop() > 190) {
				 $('nav').addClass('fixed');
                 $('#menu-lateral').removeClass('absolute-add');
                 $('#menu-lateral').addClass('fixed2');
			 }
			 else {
				 $('nav').removeClass('fixed');
                  $('#menu-lateral').removeClass('fixed2');
                $('#menu-lateral').addClass('absolute-add');
                 
			 }
		});


	





$('#menu-lateral').click(function() {



console.log($('#menu-lateral').css("left"))

 var toggleLeft = $('#menu-lateral').css("left") == "0px" ? "-125px" : "0px";

console.log(toggleLeft);

$('#menu-lateral').animate({
        left: toggleLeft
    }, 1000, function() {
        $(this).css('left', toggleLeft);
    });

});











	});
</script>
    

</body>
</html>
