{% extends "base.html" %}

{% block content %}




<form method="POST" action="/login">

    
    <div class='formbox'>
    
    
    {{ form.csrf_token }}
    {{ form.email.label }} {{ form.email(size=20, class_="form-control") }}

    </div>
    
     <div class='formbox'>
    
      {{ form.csrf_token }}
    {{ form.password.label }} {{ form.password(size=20, class_="form-control") }}
    
    </div>
    
     <div class='formbox'>
    
  <input type="submit" value="Ingresar" class='form-control'>
        
    </div>
</form>

{% endblock %}