{% extends "base.html" %}

{% block content %}


<div id='loginbox'>

<form method="POST" action="/login">

    
    <div class='formbox'>
    
    
    {{ form.csrf_token }}
    {{ form.email.label }} {{ form.email(size=20, class_="form-control") }}

    </div>
    
     <div class='formbox'>
    
      {{ form.csrf_token }}
    {{ form.password.label }} {{ form.password(size=20, class_="form-control") }}
    
    </div>

    <div class='formbox'>
    <button type="submit" value="Ingresar" class='form-submit'>Ingresar </button>
    </div>

</form>
    
</div>

{% endblock %}