{% extends "base.html" %}

{% block content %}

<p>inscripci&oacute;n</p>

<br/>


<div id='registrobox'>
 <form action="/registro" method="post">
     
     
	 
     <div class='formbox'>
     {{ form.csrf_token }}
    {{ form.mail.label }} {{ form.mail(size=20, class_="form-control", placeholder='mail@correo.com') }}
         
     </div>
     
     
     <div class='formbox'>
      {{ form.csrf_token }}
    {{ form.token.label }} {{ form.token(size=20, class_="form-control", placeholder='token valido') }}
    
     </div>
     
<div class='formbox'>
      {{ form.csrf_token }}
    {{ form.password.label }} {{ form.password(size=20, class_="form-control") }}
    
     </div>
<div class='formbox'>
    {{ form.csrf_token }}
    {{ form.password_r.label }} {{ form.password_r(size=20, class_="form-control") }}
	 
     </div>
     
     <div class='formbox'>
    
	 <button type="submit" value="Go" class='form-submit'>Go</button>
         
     </div>
</form>
</div>
<div class='flashed'>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    
</div>

{% endblock %}