{% extends "base.html" %}

{% block content %}











 <div class='mensaje'>
	<div class='texto-mensaje'>Ricardo arellano solicita 100 tableros para proyrcto mesas colegio
	</div>
	<div class='conocer naranja'><a href='/conocer'>Conocer mas</a><div class='caja-flecha' ><img src="{{ url_for('static', filename='img/flecha-conocenos-white.png') }}" alt='flecha adelante' /></div>
	</div>
 </div>

 <div class='mensaje'>
	<div class='texto-mensaje'>Ricardo arellano solicita 100 tableros para proyrcto mesas colegio
	</div>
	<div class='conocer naranja'><a href='#'>Conocer mas</a><div class='caja-flecha' ><img src="{{ url_for('static', filename='img/flecha-conocenos-white.png') }}" alt='flecha adelante' /></div>
	</div>
 </div>

 <div class='mensaje'>
	<div class='texto-mensaje'>Ricardo arellano solicita 100 tableros para proyrcto mesas colegio
	</div>
	<div class='conocer naranja'><a href='#'>Conocer mas</a><div class='caja-flecha' ><img src="{{ url_for('static', filename='img/flecha-conocenos-white.png') }}" alt='flecha adelante' /></div>
	</div>
 </div>












{% endblock %}
